version: "3.7"

services:
  db:
    container_name: recipe_api_db
    image: postgres:11-alpine
    environment:
      - POSTGRES_DB=recipe_api_db
      - POSTGRES_USER=recipe_api_user
      - POSTGRES_PASSWORD=PostgresPwd
  app:
    container_name: recipe_api_app
    build:
      context: .
    ports:
    - "8000:8000"
    volumes:
    - .:/Recipe_API_Project
    command: >
      sh -c "python manage.py wait_for_db &&
             python manage.py makemigrations &&
             python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    environment:
      - DB_HOST=db
      - DB_NAME=recipe_api_db
      - DB_USER=recipe_api_user
      - DB_PASS=PostgresPwd
      - DEBUG=True
      - ALLOWED_HOST=[]
    depends_on:
      - db
